function Random.new 0
    push constant 1
    call Memory.alloc 1
    pop pointer 0
    push argument 0
    pop this 0
    push this 0
    push constant 0
    eq
    not
    if-goto Random_1
    push constant 1
    pop this 0
    goto Random_0
label Random_1
label Random_0
    push pointer 0
    return
function Random.dispose 0
    push argument 0
    pop pointer 0
    push pointer 0
    call Memory.deAlloc 1
    pop temp 0
    push constant 0
    return
function Random.next 0
    push argument 0
    pop pointer 0
    push this 0
    push constant 75
    call Math.multiply 2
    push constant 74
    add
    pop this 0
    push this 0
    push constant 0
    lt
    push this 0
    push constant 32767
    add
    push constant 0
    lt
    and
    not
    if-goto Random_3
    push constant 1
    pop this 0
    goto Random_2
label Random_3
label Random_2
    push this 0
    push constant 0
    lt
    not
    if-goto Random_5
    push this 0
    neg
    pop this 0
    goto Random_4
label Random_5
label Random_4
    push this 0
    push constant 0
    eq
    not
    if-goto Random_7
    push constant 1
    pop this 0
    goto Random_6
label Random_7
label Random_6
    push this 0
    return
function Random.nextRange 1
    push argument 0
    pop pointer 0
    push argument 1
    push constant 1
    lt
    not
    if-goto Random_9
    push constant 0
    return
    goto Random_8
label Random_9
label Random_8
    push pointer 0
    call Random.next 1
    pop local 0
    push local 0
    push local 0
    push argument 1
    call Math.divide 2
    push argument 1
    call Math.multiply 2
    sub
    return